.pagination.pagination-split li {
    display: inline-block;
    margin-right: 3px
}
.pagination.pagination-split li a {
    border-radius: 4px;
    color: #768399;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}
ul.pagination {
    margin-top: 10px;
    margin-bottom: 0;
}
.pagination-arrow {
    font-size: 21px;
    font-weight: bold;
    padding: 0 10px!important;
}